$color-background-menu-o-titulos:rgb(24, 24, 24);
$color-background-hover:linear-gradient(to bottom, rgb(161, 20, 20), rgb(131, 91, 91));
$color-background-titulos-gradiente:linear-gradient(to bottom, rgb(161, 20, 20), rgb(131, 91, 91));
$color-background-productos:rgb(211, 195, 195);
$color-background-titulos-contacto-nosotros:rgb(219, 16, 16);
$color-letras-titulos-o-cards:  rgb(255, 255, 255) ;
