* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@import "./variables";
@import "./botones";
@import "./mixins";
@import"./maps";

.header {


    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-color: $color-background-menu-o-titulos;
    color: $color-letras-titulos-o-cards;
}




.carousel-inner {

    max-height: 39rem;
    padding: 10px 0px 10px 0px;
    
}

.carousel-inner img {
    height: 35rem;
    object-fit: cover;
    object-position: center;
}

.destacados h2 {

    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(245, 245, 245);
    background-color: $color-background-menu-o-titulos;
    border-radius: 3rem;

}

.destacados__img {
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}


.footer {

    margin-top: 10px;



    ul {
        display: flex;
        height: 100%;
        width: 100vw;
        justify-content: space-between;
        background-color: $color-background-menu-o-titulos;
        color: $color-letras-titulos-o-cards;
        justify-content: center;
        padding: 2em;
        text-align: center;
        list-style: none;
        margin-bottom: 0rem;

        li a {

            display: flex;
            justify-content: center;
            padding: 1em 6em;
            color: $color-letras-titulos-o-cards;
            text-decoration: none;

            &:hover {
                background-image: $color-background-hover;
                border-radius: 2rem;
                transform: scale(1.2);
                color: black;
                transition: all 0.1s ease-out;
            }
        }
    }
}

/* Fin Index */

/* Incio Productos */

.body__productos {

    background-color: $color-background-productos;
}

.clasif {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.container__titulo {
    background-color: map-get($map:$marcas, $key:Samsung);
    color: $color-letras-titulos-o-cards;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 0.1rem rgb(0, 0, 0);
    border-radius: 2rem;
    margin: 7px 1px;
    padding: 3px;

}

.container__titulo__xiaomi {
    @extend .container__titulo;
    background-color: map-get($map: $marcas, $key: Xiaomi)
}

.container__titulo__motorola {
    @extend .container__titulo;
    color: rgb(27, 26, 26);
    background-color: map-get($map: $marcas, $key: Motorola)
}

.container__titulo__lg {
    @extend .container__titulo;
    color: rgb(27, 26, 26);
    background-color: map-get($map: $marcas, $key: LG)
}

.container__titulo__huawei {
    @extend .container__titulo;
    background-color: map-get($map: $marcas, $key: huawei)
}

.container__titulo__servicios {
    @extend .container__titulo;
    background-color: map-get($map: $marcas, $key: varios)
}

.container__titulo__Accesorios {
    @extend .container__titulo;
    background-color: map-get($map: $marcas, $key: varios)
}

.card:hover {
    color: $color-letras-titulos-o-cards;
    background-image: $color-background-hover;
    box-shadow: rgb(0, 0, 0) 2px;
    transform: scale(1.2);
    transition: all 0.1s ease-out;
}

/* Inicio Historial */

.body__historial {
    background-color: $color-background-productos;
}

.titulo__historial {
    background-image: $color-background-titulos-gradiente;
    color: $color-letras-titulos-o-cards;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 0.1rem rgb(0, 0, 0);
    border-radius: 2rem;
    margin: 7px 1px;
    padding: 3px;
}

/* inicio Favoritos */

.body__favoritos {
    background-color: $color-background-productos;
}

.titulo__favoritos {
    background-image: $color-background-titulos-gradiente;
    color: $color-letras-titulos-o-cards;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 0.1rem rgb(0, 0, 0);
    border-radius: 2rem;
    margin: 7px 1px;
    padding: 3px;
}

.card:hover {
    color: $color-letras-titulos-o-cards;
    background-image: $color-background-hover;
    box-shadow: rgb(0, 0, 0) 2px;
    transform: scale(1.2);
    transition: all 0.1s ease-out;
}

/* inicio contactanos  */

.body__contactanos {
    background-color: $color-background-titulos-contacto-nosotros;
}

.formulario {
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1rem rgb(219, 16, 16);
    ;


    .formulario__titulo {
        background-color: $color-background-titulos-contacto-nosotros;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: azure;
        width: 25%;
        max-width: 19rem;
        min-width: 10rem;
        height: 10%;
        margin: 1% 37%;
        border-radius: 2rem;
    }

    .formulario__nombre {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;

    }

    .formulario__apelldio {
        @extend .formulario__nombre
    }


    .formulario__mail {
        @extend .formulario__nombre
    }

    .formulario__mensaje {
        @extend .formulario__nombre
    }

    .formulario__pais {
        @extend .formulario__nombre
    }

    .formulario__botones {

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em;
        justify-content: space-around;

    }

    .formulario__botones__enviar {
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        color: $color-letras-titulos-o-cards;
        background: rgb(173, 16, 16);
        cursor: pointer;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
    }

}

/* inicio Nosotros */

.body__nosotros {
    background-color: $color-background-titulos-contacto-nosotros;
}

.sobre__nosotros {
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100%;
    width: 100%;
    border: solid 1rem rgb(219, 16, 16);
    ;

    .sobre__nosotros__titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1% 28%;
        color: $color-letras-titulos-o-cards;
        background-color: $color-background-titulos-contacto-nosotros;
        height: 10%;
        width: 42%;
        text-align: center;
        border-radius: 2rem;
    }

    .sobre__nosotros__texto {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 58%;
        padding: 1%;

    }


    .titulo__fotos {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5% 32%;
        background-color: $color-background-titulos-contacto-nosotros;
        color: $color-letras-titulos-o-cards;
        height: 15%;
        text-align: center;
        border-radius: 2rem
    }

    .fotos__local {

        height: 100%;
        width: 100%;
        margin: 2% 0%;
    }
}


@media screen and (min-width: 300px) and (max-width: 1023px) {


    .header {
        display: none;
    }


    .menu__slider {
        display: flex;
        padding: 20px;
    }



    .nav {
        display: none;
    }

    .destacados__img {

        flex-direction: column;
    }

    .footer ul {


        flex-direction: column;
    }


    /* index fin */

    .clasif__lista {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        background-image: $color-background-titulos-gradiente;
        margin: 0% 0.5%;
        padding: 1% 1%;
        min-width: 11rem;
        max-width: 19rem;
    }

    a {
        color: $color-letras-titulos-o-cards;
        text-decoration: none;
    }


    /* productos fin */

    .formulario__titulo {
        max-width: 19rem;
        min-width: 10rem;
    }

    /* contactanos fin */

    .fotos__local {
        display: flex;
        flex-direction: column;

        .fotos__localuno {
            width: 71%;
        }

        .fotos__localdos {
            width: 75%;
        }

        .fotos__localtres {
            width: 81%;
        }
    }
}

/* Nosotros fin */


/* favoritos fin */




@media screen and (min-width: 1024px) {

    .navbar {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        padding: 0px 0px 7px 0px;
    }

    .menu {

        width: 100%;
        height: 70%;
        background-color: $color-background-menu-o-titulos;
        list-style: none;
        display: flex;
        margin-bottom: 0rem;
    }

    .menu ul {
        display: flex;
        text-align: center;
        list-style: none;
        background-color: $color-background-menu-o-titulos;
        flex-wrap: nowrap;
    }

    .menu li a {
        display: flex;
        padding: 1em 3.4em;
        color: $color-letras-titulos-o-cards;
        text-decoration: none;
    }

    .menu__inicio {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu__productos {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu__favoritos {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu__historial {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu__contactanos {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu__nosotros {
        @include size__menu__box(flex, 20vw);
        background-color: $color-background-menu-o-titulos;
    }

    .menu li :hover {
        background-image: $color-background-hover;
        border-radius: 2rem;
        transform: scale(1.1);
        color: black;
        transition: all 0.1s ease-out;
    }

    .destacados__img {

        flex-direction: row;
    }

    .footer ul {
        flex-direction: row;
    }

    /* index fin */

    .clasif__lista {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        background-image: $color-background-titulos-gradiente;
        margin: 0% 0.5%;
        padding: 1% 1%;
        min-width: 11rem;
        max-width: 42rem;
        color: $color-letras-titulos-o-cards;
    }

    a {
        color: $color-letras-titulos-o-cards;
        text-decoration: none;
    }


    /* productos fin */
    /* Contactanos fin */

    .fotos__local {
        display: flex;
        flex-direction: row;

        .fotos__localuno {
            width: 100%;
        }

        .fotos__localdos {
            width: 100%;
        }

        .fotos__localtres {
            width: 100%;
        }
    }
}

/* Nosotros fin */