* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.boton, .boton__rojo, .boton__naranja, .boton__aqua, .boton__negro {
  background-color: #1452da;
  color: white;
  text-align: center;
  border-radius: 2rem; }
  .boton:hover, .boton__rojo:hover, .boton__naranja:hover, .boton__aqua:hover, .boton__negro:hover {
    background-color: white;
    color: #1452da; }

.boton__rojo {
  background-color: #d41919; }
  .boton__rojo:hover {
    color: #d41919; }

.boton__naranja {
  background-color: #ec541d; }
  .boton__naranja:hover {
    color: #ec541d; }

.boton__aqua {
  background-color: #4ddfdf;
  color: #1b1a1a; }
  .boton__aqua:hover {
    background-color: #1b1a1a;
    color: #4ddfdf; }

.boton__negro {
  background-color: #1b1a1a;
  color: white; }
  .boton__negro:hover {
    background-color: white;
    color: #1b1a1a; }

.letra__chica {
  font-size: 23px;
  font-weight: 100; }

.letra__mediana {
  font-size: 27px;
  font-weight: 200; }

.letra__grande {
  font-size: 50px;
  font-weight: 300; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: #181818;
  color: white; }

.carousel-inner {
  max-height: 39rem;
  padding: 10px 0px 10px 0px; }

.carousel-inner img {
  height: 35rem;
  object-fit: cover;
  object-position: center; }

.destacados h2 {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  background-color: #181818;
  border-radius: 3rem; }

.destacados__img {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }

.footer {
  margin-top: 10px; }
  .footer ul {
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: space-between;
    background-color: #181818;
    color: white;
    justify-content: center;
    padding: 2em;
    text-align: center;
    list-style: none;
    margin-bottom: 0rem; }
    .footer ul li a {
      display: flex;
      justify-content: center;
      padding: 1em 6em;
      color: white;
      text-decoration: none; }
      .footer ul li a:hover {
        background-image: linear-gradient(to bottom, #a11414, #835b5b);
        border-radius: 2rem;
        transform: scale(1.2);
        color: black;
        transition: all 0.1s ease-out; }

/* Fin Index */
/* Incio Productos */
.body__productos {
  background-color: #d3c3c3; }

.clasif {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

.container__titulo, .container__titulo__xiaomi, .container__titulo__motorola, .container__titulo__lg, .container__titulo__huawei, .container__titulo__servicios, .container__titulo__Accesorios {
  background-color: #1452da;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 0.1rem black;
  border-radius: 2rem;
  margin: 7px 1px;
  padding: 3px; }

.container__titulo__xiaomi {
  background-color: #eb802a; }

.container__titulo__motorola {
  color: #1b1a1a;
  background-color: #32c0e4; }

.container__titulo__lg {
  color: #1b1a1a;
  background-color: #e03030; }

.container__titulo__huawei {
  background-color: #363535; }

.container__titulo__servicios {
  background-color: #1452da; }

.container__titulo__Accesorios {
  background-color: #1452da; }

.card:hover {
  color: white;
  background-image: linear-gradient(to bottom, #a11414, #835b5b);
  box-shadow: black 2px;
  transform: scale(1.2);
  transition: all 0.1s ease-out; }

/* Inicio Historial */
.body__historial {
  background-color: #d3c3c3; }

.titulo__historial {
  background-image: linear-gradient(to bottom, #a11414, #835b5b);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 0.1rem black;
  border-radius: 2rem;
  margin: 7px 1px;
  padding: 3px; }

/* inicio Favoritos */
.body__favoritos {
  background-color: #d3c3c3; }

.titulo__favoritos {
  background-image: linear-gradient(to bottom, #a11414, #835b5b);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 0.1rem black;
  border-radius: 2rem;
  margin: 7px 1px;
  padding: 3px; }

.card:hover {
  color: white;
  background-image: linear-gradient(to bottom, #a11414, #835b5b);
  box-shadow: black 2px;
  transform: scale(1.2);
  transition: all 0.1s ease-out; }

/* inicio contactanos  */
.body__contactanos {
  background-color: #db1010; }

.formulario {
  background-color: grey;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1rem #db1010; }
  .formulario .formulario__titulo {
    background-color: #db1010;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: azure;
    width: 25%;
    max-width: 19rem;
    min-width: 10rem;
    height: 10%;
    margin: 1% 37%;
    border-radius: 2rem; }
  .formulario .formulario__nombre, .formulario .formulario__apelldio, .formulario .formulario__mail, .formulario .formulario__mensaje, .formulario .formulario__pais {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem; }
  .formulario .formulario__botones {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    justify-content: space-around; }
  .formulario .formulario__botones__enviar {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    background: #ad1010;
    cursor: pointer;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1); }

/* inicio Nosotros */
.body__nosotros {
  background-color: #db1010; }

.sobre__nosotros {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100%;
  width: 100%;
  border: solid 1rem #db1010; }
  .sobre__nosotros .sobre__nosotros__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 28%;
    color: white;
    background-color: #db1010;
    height: 10%;
    width: 42%;
    text-align: center;
    border-radius: 2rem; }
  .sobre__nosotros .sobre__nosotros__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 58%;
    padding: 1%; }
  .sobre__nosotros .titulo__fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 32%;
    background-color: #db1010;
    color: white;
    height: 15%;
    text-align: center;
    border-radius: 2rem; }
  .sobre__nosotros .fotos__local {
    height: 100%;
    width: 100%;
    margin: 2% 0%; }

@media screen and (min-width: 300px) and (max-width: 1023px) {
  .header {
    display: none; }
  .menu__slider {
    display: flex;
    padding: 20px; }
  .nav {
    display: none; }
  .destacados__img {
    flex-direction: column; }
  .footer ul {
    flex-direction: column; }
  /* index fin */
  .clasif__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #a11414, #835b5b);
    margin: 0% 0.5%;
    padding: 1% 1%;
    min-width: 11rem;
    max-width: 19rem; }
  a {
    color: white;
    text-decoration: none; }
  /* productos fin */
  .formulario__titulo {
    max-width: 19rem;
    min-width: 10rem; }
  /* contactanos fin */
  .fotos__local {
    display: flex;
    flex-direction: column; }
    .fotos__local .fotos__localuno {
      width: 71%; }
    .fotos__local .fotos__localdos {
      width: 75%; }
    .fotos__local .fotos__localtres {
      width: 81%; } }

/* Nosotros fin */
/* favoritos fin */
@media screen and (min-width: 1024px) {
  .navbar {
    display: none; }
  .nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    padding: 0px 0px 7px 0px; }
  .menu {
    width: 100%;
    height: 70%;
    background-color: #181818;
    list-style: none;
    display: flex;
    margin-bottom: 0rem; }
  .menu ul {
    display: flex;
    text-align: center;
    list-style: none;
    background-color: #181818;
    flex-wrap: nowrap; }
  .menu li a {
    display: flex;
    padding: 1em 3.4em;
    color: white;
    text-decoration: none; }
  .menu__inicio {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu__productos {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu__favoritos {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu__historial {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu__contactanos {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu__nosotros {
    display: flex;
    width: 20vw;
    background-color: #181818; }
  .menu li :hover {
    background-image: linear-gradient(to bottom, #a11414, #835b5b);
    border-radius: 2rem;
    transform: scale(1.1);
    color: black;
    transition: all 0.1s ease-out; }
  .destacados__img {
    flex-direction: row; }
  .footer ul {
    flex-direction: row; }
  /* index fin */
  .clasif__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #a11414, #835b5b);
    margin: 0% 0.5%;
    padding: 1% 1%;
    min-width: 11rem;
    max-width: 42rem;
    color: white; }
  a {
    color: white;
    text-decoration: none; }
  /* productos fin */
  /* Contactanos fin */
  .fotos__local {
    display: flex;
    flex-direction: row; }
    .fotos__local .fotos__localuno {
      width: 100%; }
    .fotos__local .fotos__localdos {
      width: 100%; }
    .fotos__local .fotos__localtres {
      width: 100%; } }

/* Nosotros fin */
